<style>
  .super-centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="card">
  <div class="card-header">
    Perfil del usuario
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 super-centro">
        <div class="row">
          <img style="    max-width: 100%;
          max-height: 25vh;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Creative-Tail-People-man.svg/2000px-Creative-Tail-People-man.svg.png" alt="">
        </div>
        <div class="row" style="display:flex; flex-direction:column;line-height:1vh;">
            <p class="h5">
              Telf. Celular
            </p>
            <p class="lead">
              +593 - 1112233365
            </p>
        </div>
      </div>
      <div class="col-md-4 super-centro">
          <div class="row" style="display:flex; flex-direction:column;line-height:1vh;">
              <p class="h5">
                Numero unico
              </p>
              <p class="lead">
                2196
              </p>
          </div>
          <div class="row" style="display:flex; flex-direction:column;line-height:1vh;">
              <p class="h5">
                Nombres
              </p>
              <p class="lead">
                Lisbeth Rosario
              </p>
          </div>
          <div class="row" style="display:flex; flex-direction:column;line-height:1vh;">
              <p class="h5">
                Apellidos
              </p>
              <p class="lead">
                Alvarez Barrigas
              </p>
          </div>
      </div>
      <div class="col-md-4 super-centro">
          <div class="row" style="display:flex; flex-direction:column;line-height:1vh;">
              <p class="h5">
                Email
              </p>
              <p class="lead">
                correo@correo.com
              </p>
          </div>
      </div>
    </div>
  </div>
</div>