<div class="card">
    <div class="card-header">
        aprovechamientos
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Asignatura</th>
            <th scope="col">P1</th>
            <th scope="col">P2</th>
            <th scope="col">P3</th>
            <th scope="col">PP1Q</th>
            <th scope="col">%PPIQ</th>
            <th scope="col">EXAM1Q</th>
            <th scope="col">%EXAM1Q</th>
            <th scope="col">PROM1Q</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Lenguaje y literatura</td>
                <td>8.36</td>
                <td>8.74</td>
                <td>9.06</td>
                <td>8.72</td>
                <td>6.98</td>
                <td>8.25</td>
                <td>1.65</td>
                <td>8.63</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>